@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.main-index {
  flex-grow: 1;
}

.button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 10px 5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  top: 16px;
  left: 0;
  background-color: #FFE17F;
  z-index: -2;
  transition: all 0.1s ease-out;
}

.button:hover::before {
  transform: scale(1, 5);
}

.button:active {
  background-color: #FFCC33;
}

.button:active::before {
  background-color: #FFCC33;
}

.button:focus {
  outline: 2px solid #AF4FFF;
}

.button:disabled {
  opacity: 0.3;
}

/* Я прописал стили для disabled, но он, получается, работает только
именно с кнопками? Ссылки он игнорирует? */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  color: #000000;
  background-color: #FFE17F;
  margin: 0 auto;
  margin-top: 35px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1040px;
  justify-content: space-between;
  margin: 0;
  margin-top: 5px;
  padding: 0 60px;
}

.navigation-logo {
  display: block;
  margin-bottom: 30px;
  width: 145px;
  margin-top: -20px;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-middle-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

.search-field {
  display: flex;
}

.navigation-search,
.navigation-search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.navigation-search {
  width: 360px;
  padding: 0;
}

.navigation-search-button {
  width: 160px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
}

.navigation-login {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navigation-menu {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  color: #000000;
  text-align: left;
  text-decoration: none;
  margin: 0;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-logout {
  opacity: 0.3;
}

.navigation-profile {
  padding-left: 27px;
  background-image: url("../images/icons/login-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: center left;
}

.navigation-compare {
  padding-left: 24px;
  background-image: url("../images/icons/compare-icon.svg");
  background-repeat: no-repeat;
  background-size: 10px 12px;
  background-position: center left;
}

.cart-link {
  display: flex;
  align-items: baseline;
}

.navigation-cart {
  padding-left: 28px;
  background-image: url("../images/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center left;
}

.notification-badge {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: #ffffff;
  width: 21px;
  height: 21px;
  justify-content: center;
  text-align: center;
  line-height: normal;
  border-radius: 50%;
  position: relative;
  left: 5.5px;
}

/* Думаю, тут можно сделать как-то проще, без флекса, но у меня не получилось,
поэтому взял идею из макета. */

.navigation-bottom-container {
  display: flex;
  align-items: center;
  z-index: 2;
}

/* Здесь часть хедера находит на слайдер, поэтому пока что не ставил марджин. */

.navigation-catalog {
  width: 290px;
  margin-right: auto;
}

.navigation-main {
  display: flex;
  height: auto;
  width: 475px;
  flex-wrap: wrap;
  align-self: flex-start;
}

.navigation-main .navigation-item:not(:nth-child(3n)) {
  min-width: 121px;
  margin-right: 45px;
}

.navigation-main,
.catalog-header {
  font-family: "Raleway", sans-serif;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-header {
  display: flex;
  color: #000000;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 0;
}

.catalog-header::after {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/icons/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.catalog-header:hover::after {
  opacity: 1;
}

.catalog-header:active::after {
  opacity: 1;
}

/* Тут будет замена + на -, поэтому дал пока два варианта. */

.catalog-header:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-main a {
  padding: 15px 0;
}

/* Контакты в меню почему-то не прижимаются к правому краю,
не понимаю, в чём проблема. */

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog {
  position: absolute;
  z-index: 2;
  display: none;
  width: 700px;
  font-size: 16px;
  line-height: 18px;
  background-color: #FFE17F;
}

.navigation-catalog:active .catalog {
  display: flex;
}

.main-wrapper {
  width: 1160px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
}

.featured {
  margin-bottom: 210px;
  margin-top: -17px;
  position: relative;
}

.slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-bracelet {
  display: none;
}

.slider-monopod {
  display: none;
}

/* Скрыты для удобства. */

.slider-image {
  margin: 0;
  width: 560px;
  margin-right: auto;
}

.slider-right-column {
  position: relative;
  width: 560px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  width: 76px;
  height: 12px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  line-height: 0;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

.slider-pagination-button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button::after {
  display: none;
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #AF4FFF;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: none;
}

.slider-pagination-button:focus::after {
  display: block;
}

.slider-pagination-button:disabled {
  opacity: 0.1;
}

.slider-number {
  display: block;
  position: absolute;
  top: 29px;
  left: 261px;
  background-color: #FFE17F;
  color: #ffffff;
  font-size: 180px;
  text-align: right;
  font-weight: 700;
  margin-right: 50px;
  width: 250px;
  line-height: 0.75;
  z-index: 1;
}

.slider-right-column-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 121px;
}

.slider-header {
  font-family: "Raleway", sans-serif;
  line-height: 50px;
  font-size: 50px;
  margin: 0;
  margin-bottom: 30px;
  z-index: 2;
}

.slider-text {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.slider-right-column .button {
  width: 210px;
  margin-bottom: 50px;
  align-self: start;
}

.slider-specs {
  display: flex;
  margin-right: auto;
  list-style-type: none;
  padding: 0;
}

.slider-specs ul {
  list-style-type: inherit;
  padding: 0;
  margin-right: 20px;
}

.slider-specs-bracelet {
  flex-direction: column;
}

.slider-specs-monopod ul {
  margin-right: 40px;
}

.slider-specs tr:not(:last-child) {
  margin-bottom: 12px;
}

.specs-value {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 12px;
}

.specs-option {
  font-size: 16px;
}

.slider-image-buttons {
  position: absolute;
  top: 211px;
  display: flex;
  width: 530px;
  justify-content: space-between;
  padding-left: 30px;
}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-prev {
  background-image: url(../images/icons/arrow-left.svg);
}

.slider-next {
  background-image: url(../images/icons/arrow-right.svg);
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-pagination-button:disabled {
  opacity: 0.1;
}

.product-categories-list {
  list-style-type: none;
  display: flex;
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.product-categories-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.product-categories-list-item:not(:last-child) {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.product-categories-list-item svg {
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.product-categories-title {
  display: block;
  margin: 0;
}

.product-categories-link:hover svg {
  background-color: #FFCC33;
}

.product-categories-link:active {
  opacity: 0.3;
}

.product-categories-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.advantages-block {
  background-color: #f0f0f0;
}

.advantages-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 70px;
}

.advantages-menu,
.advantages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 287px;
  border-right: 7px solid black;
  box-sizing: border-box;
}

.advantages-button {
  border: none;
  text-align: center;
  width: 160px;
}

.advantages-button-current {
  color: #FFE17F;
}

.advantages-button-current::before {
  content: '';
  background-color: black;
  width: 280px;
  height: 100%;
  top: 0;
}

/* Я не уверен, что такая перезапись или даже наслаивание псевдоэлементов —
это хорошо, но оно работает. :) */

.advantages-button-current:hover,
.advantages-button-current:active,
.advantages-button-current:focus {
  padding-left: 40px;
  outline: none;
}

.advantages-button-current:hover::before {
  transform: scale(1, 1);
}


.advantages-button-current:active::before {
  background-color: black;
}

.advantages-menu-item:not(:last-child) {
  margin-bottom: 35px;
}

.advantages {
  width: 873px;
  padding-left: 116px;
  box-sizing: border-box;
}

.advantages-delivery {
  width: 694px;
  margin-right: auto;
  padding: 72.5px 0;
  background-image: url(../images/decor/delivery.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 136px 164px;
}

.advantages-warranty {
  display: none;
  width: 729px;
  margin-right: auto;
  padding: 62px 0;
  background-image: url(../images/decor/warranty.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 171px 195px;
}

.advantages-credit {
  display: none;
  width: 729px;
  margin-right: auto;
  padding: 62.5px 0;
  background-image: url(../images/decor/credit.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 136px 164px;
}

/* Скрыты для удобства. Не придумал, как их иначе центровать,
кроме как отступами. */

.advantages-header {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.advantages-description {
  color: #444444;
  margin: 0;
  max-width: 480px;
}

.rare-item-order-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f0f0f0;
  box-sizing: border-box;
  width: 1160px;
  margin-bottom: 70px;
  color: inherit;
}

.rare-item-order-button::before {
  content: '';
  width: 125px;
  height: 100px;
  background-image: url(../images/decor/truck.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
}

.rare-item-order-button::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../images/icons/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #DCDCDC80;
  opacity: 0.5;
  margin: 0 42.5px;
}

.rare-item-order-button:hover::before {
  background-color: #FFCC33;
}

.rare-item-order-button:hover::after {
  opacity: 1;
}

.rare-item-order-button:active {
  opacity: 0.3;
}

.rare-item-order-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.about-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 47px 0 48px;
  padding: 0;
  position: relative;
}

.about-title::before {
  position: absolute;
  top: -47px;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: '';
}

.about-text,
.contacts-text {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
  max-width: 500px;
}

.about-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.about-item {
  padding-left: 37.5px;
  margin-bottom: 19px;
  position: relative;
}

.about-item::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #FFCC33;
  top: 6px;
  left: 1.5px;
  border-radius: 50%;
}

.about-wrapper {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about {
  width: 520px;
}

.about a {
  width: 270px;
}

.contacts-title::before {
  position: absolute;
  top: -47px;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: '';
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
  color: #444444;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  text-decoration: underline;
  text-transform: uppercase;
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.contacts {
  width: 532px;
}

.contacts a {
  width: 260px;
}

.newsletter {
  background-color: #f0f0f0;
}

.newsletter-wrapper {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  padding: 64px 0 144px 6px;
  justify-content: space-between;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
  padding: 0;
  margin: 0;
}

.newsletter-text,
.newsletter-free {
  color: #444444;
}

.newsletter-text {
  max-width: 553px; /* ширина блока в макете выезжает за границу на
  7 пикселей. Соответственно, тут либо давать заголовку точный марджин,
  либо так и justify-content: space-between. */
  margin: 0;
  padding-top: 10px;
}

.newsletter-form-wrapper {
  display: flex;
  width: 1160px;
  padding-bottom: 56px;
  margin: 0 auto;
  justify-content: space-between;
}

.newsletter-form {
  display: flex;
  width: 810px;
}

.newsletter-field {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: inherit;
  border-bottom: 3px solid #c4c4c4;
  padding: 0;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 15px 36px;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
}

.newsletter-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.newsletter-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.newsletter-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.newsletter-free {
  text-align: right;
  padding: 13.5px 0;
  padding-left: 32px;
  background-image: url(../images/icons/tick.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 16px 16px;
}

.page-footer {
  background-color: #444444;
}

.page-footer-wrapper {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  width: 1160px;
  display: grid;
  grid-template-columns: 240px 444px auto;
  grid-template-rows: 36px 40px auto;
  grid-template-areas:
  "logo . ."
  "address navigation tel"
  ". social academy";
  gap: 35px 119px;
  padding: 62px 0 47px 0;
}

.footer-logo {
  grid-area: logo;
  width: 145px;
}

.footer-contacts-address {
  font-style: normal;
  grid-area: address;
}

.footer-contacts-address-text {
  margin: 0;
}

.footer-contacts-phone {
  grid-area: tel;
}

.footer-contacts-phone-link {
  display: block;
  color: #ffffff;
  text-decoration: underline;
  font-style: normal;
  text-align: right;
  padding: 7px 0 13px;
}

.footer-navigation-list {
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  grid-area: navigation;
  justify-content: space-between;
}

.footer-navigation-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 4px 0 15px;
}

.footer-social {
  grid-area: social;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 12px;
  width: 150px;
}

.social-button {
  display: block;
  color: inherit;
  height: 40px;
  width: 40px;
  padding: 0;
  outline: 1px solid wheat;
  margin-bottom: 15px;
}

.footer-social-item:not(:nth-child(3n)) {
  margin-right: 15px;
}

.footer-developer {
  grid-area: academy;
  justify-self: end;
  align-self: center;
}

.footer-developer-logo {
  display: flex;
  padding: 10px 0;
}

.main-inner {
  background-color: #ffffff;
  color: #000000;
  flex-grow: 1;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
  padding: 35px 21px 34px 60px;
  box-sizing: border-box;
}

.catalog-products {
  background-color: #ffffff;
  padding-bottom: 78px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  margin-right: 36px;
}

.grey-wrapper {
  background-color: #f0f0f0;
}

.inner-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.filter {
  width: 320px;
}

.inner-left-column {
  width: 260px;
  margin-left: 60px;
}

.inner-right-column {
  width: 840px;
}

.filter-header,
.sorter-header {
  font-family: "Raleway", sans-serif;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  padding: 25px 0;
}

.filter-header {
  margin-bottom: 35px;
}

.filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.filter-title {
  margin: 0;
  padding: 0;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.sorter {
  display: flex;
  width: 760px;
  margin: 0 auto;
}

.sorter-header {
  margin-right: auto;
}

.select-control {
  align-self: center;
  margin-right: auto;
}

.sorter .button {
  align-self: center;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  padding: 10px;
  outline: 1px solid wheat;
}

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-bottom: 44px;
  padding: 70px 40px 0;
  gap: 44px 40px;
}

.product-card {
  display: grid;
  grid-template-columns: min-content auto;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card-image-link {
  grid-column: 1 / -1;
  margin-bottom: 32px;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
}

.product-card-price {
  line-height: normal;
  color: #444444;
  font-weight: 400;
  justify-self: end;
}

.pagination-more {
  display: block;
  width: 760px;
  margin: 0 auto 44px;
  padding: 18px 39px;
}

.pagination-wrapper {
  display: flex;
  width: 760px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f0f0f0;
  align-items: center;
}

.pagination {
  display: flex;
  width: 200px;
  list-style-type: none;
}

.pagination-link,
.pagination-other {
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  display: block;
  box-sizing: border-box;
  padding: 25px;
}

.pagination-next,
.pagination-current {
  opacity: 1;
}
