@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.main-container {
  flex-grow: 1;
  width: 1160px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 10px 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  color: #000000;
  background-color: #FFE17F;
  margin-top: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1040px;
  justify-content: space-between;
  margin: 0;
  padding: 0 60px;
}

.navigation-logo {
  display: block;
  margin-bottom: 30px;
}

.navigation-middle-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

.navigation-search {
  width: 360px;
  height: 40px;
}

.navigation-search-button {
  width: 160px;
  height: 40px;
}

.navigation-login {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navigation-menu {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-search,
.navigation-search-button {
  font-size: 16px;
  line-height: 20px;
}

.navigation-link {
  display: block;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.navigation-logout {
  opacity: 0.3;
}

.notification-badge {
  font-size: 14px;
  background-color: #ffffff;
}

.navigation-bottom-container {
  display: flex;
  align-items: center;
}

/* Здесь часть хедера находит на слайдер, поэтому пока что не ставил марджин. */

.navigation-catalog {
  width: 290px;
  margin-right: auto;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 15px 0;
}

.navigation-main {
  display: flex;
  height: auto;
  width: 470px;
  flex-wrap: wrap;
  align-self: flex-start;
}

.navigation-main .navigation-item:not(:nth-child(3n)) {
  max-width: 125px;
  margin-right: 45px;
}

.navigation-main,
.catalog-header {
  font-family: "Raleway", sans-serif;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

/* Контакты в меню почему-то не прижимаются к правому краю,
не понимаю, в чём проблема. */

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog {
  display: flex;
  width: 700px;
  font-size: 16px;
  line-height: 18px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.featured {
  width: 1160px;
  margin-bottom: 210px;
}

.slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-image {
  margin: 0;
  width: 560px;
  margin-right: auto;
}

.slider-right-column {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.slider-pagination {
  display: flex;
  width: 76px;
  height: 12px;
  margin: 0 auto;
  justify-content: space-between;
  list-style-type: none;
}

.slider-pagination-item {
  width: 12px;
}

.slider-number {
  align-self: flex-end;
  background-color: #FFE17F;
  color: #ffffff;
  font-size: 180px;
  text-align: right;
  font-weight: 700;
  height: 135px;
  margin-right: 50px;
  width: 250px;
  line-height: 1;
}

.slider-header {
  font-family: "Raleway", sans-serif;
  line-height: 50px;
  font-size: 50px;
  margin: 0;
  margin-bottom: 30px;
}

.slider-text {
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.slider-right-column .button {
  width: 220px;
  margin-bottom: 50px;
  text-align: center;
}

.specs-value {
  font-size: 36px;
  font-weight: 400;
}

.specs-option {
  font-size: 16px;
}

.product-categories-list {
  list-style-type: none;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-categories-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.product-categories-list-item {
  height: 253px;
  width: 160px;
}

.product-categories-image {
  background-color: #FFE17F;
  height: 160px;
  width: 160px;
}

.advantages-block {
  background-color: #f0f0f0;
  display: flex;
  width: 1160px;
}

.advantages-menu,
.advantages {
  list-style-type: none;
}

.advantages-menu {
  width: 394px;
}

.advantages-item {
  display: flex;
  width: 730px;
  margin-left: 116px;
  justify-content: space-between;
}

.advantages-wrapper {
  width: 452px;
}

.advantages-header {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.advantages-description {
  color: #444444;
}

.rare-item-order {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f0f0f0;
  width: 1160px;
}

.about-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-text,
.contacts-text {
  color: #444444;
}

.about-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.about-wrapper {
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.about {
  width: 520px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
  color: #444444;
}

.contacts-phone {
  text-decoration: underline;
  text-transform: uppercase;
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  color: #444444;
}

.contacts {
  width: 532px;
}

.newsletter {
  background-color: #f0f0f0;
  width: 1160px;
}

.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
}

.newsletter-text,
.newsletter-free {
  color: #444444;
}

.newsletter-text {
  width: 560px;
}

.newsletter-form-wrapper {
  display: flex;
  width: 1160px;
}

.newsletter-field {
  width: 557px;
}

.newsletter-button {
  width: 253px;
}

.newsletter-free {
  width: 160px;
  margin-left: auto;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts-address {
  display: flex;
  justify-content: space-between;
  font-style: normal;
}

.footer-contacts-address-text {
  width: 239px;
  margin: 0;
}

.footer-contacts-address-phone {
  color: #ffffff;
  text-decoration: underline;
  width: 174px;
}

.footer-navigation-list {
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
  width: 444px;
  justify-content: space-between;
}

.footer-navigation-link {
  color: inherit;
  text-decoration: none;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 645px;
  margin-right: auto;
}

.social-button {
  color: inherit;
}

.main-inner {
  background-color: #ffffff;
  color: #000000;
  width: 1160px;
}

.inner-header {
  width: 1080px;
  margin-left: 60px;
  margin-right: auto;
}

.catalog-products {
  background-color: #ffffff;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  padding: 0;
}

.breadcrumbs-link {
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs {
  list-style-image: url(../images/icons/breadcrumbs-arrow.svg);
  display: flex;
  width: 430px;
  justify-content: space-between;
  padding: 0;
}

.breadcrumbs-item:nth-child(1) {
  list-style-type: none;
  list-style-image: none;
}

.inner-wrapper {
  background-color: #f0f0f0;
  display: flex;
}

.filter {
  width: 320px;
}

.inner-left-column {
  width: 200px;
  margin: 0 auto;
}

.inner-right-column {
  width: 840px;
}

.filter-header,
.sorter-header {
  font-family: "Raleway", sans-serif;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-size: 16px;
}

.filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.sorter {
  display: flex;
  width: 760px;
  margin: 0 auto;
  justify-content: space-between;
}

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px 40px 0;
  gap: 44px 40px;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-card-price {
  line-height: normal;
  color: #444444;
  font-weight: 400;
}

.pagination-more {
  display: block;
  width: 760px;
  margin: 0 auto;
}

.pagination-wrapper {
  display: flex;
  width: 760px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f0f0f0;
  align-items: center;
}

.pagination {
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style: none;
}

.pagination-link,
.pagination-other {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  line-height: normal;
  text-transform: uppercase;
  color: #000000;
}

.pagination-next,
.pagination-current {
  opacity: 1;
}

.pagination-button {
  padding: 25px;
}
